$bgColor: #011627;


html,
body {
    width: 100%;
    height: 100%;
    background-color: $bgColor;

    .container {
        padding: 75px 0;
        margin: 0 auto;
        max-width: 1140px;

        .gallery {
            display: flex;
            flex-direction: row;
            margin-top: 100px;
            width: 100%;
            height: 70vh;

            .slide {
                flex: 1;
                height: 100%;
                background-position: center;
                background-size: cover;
                transition: flex .8s ease;

                &:hover {
                    flex: 7;
                }
            }

            .slide-1 {
                background-image: url("img/storm1.jpg");
            }

            .slide-2 {
                background-image: url("./img/storm2.jpg");
            }

            .slide-3 {
                background-image: url("./img/storm3.jpg");
            }

            .slide-4 {
                background-image: url("./img/storm4.jpg");
            }
        }
    }
}